@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.css";

.header {
  @apply bg-primary flex items-center justify-between;
}
.ant-menu-item-selected {
  @apply bg-[#F4F7FB] text-[#00A0B0] !important;
}
