@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply bg-primary flex items-center justify-between !important;
}
.ant-menu-item-selected {
  @apply bg-[#F4F7FB] text-[#00A0B0] !important;
}

.ant-switch-inner {
  position: relative;
  bottom: 2px;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.ant-image-preview-img {
  height: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[data-theme="compact"] .site-navigation-steps,
.site-navigation-steps {
  box-shadow: 0px -1px 0 0 #e8e8e8 inset !important;
}

svg {
  vertical-align: baseline !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
